@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: normal;
  src: local ('PT Sans Narrow'),
    url('fonts/ptsansnarrow.woff') format('woff'),
    url('fonts/ptsansnarrow.woff2') format('woff2');
  
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  src: local ('PT Sans Narrow'),
    url('fonts/ptsansnarrowbold.woff') format('woff'),
    url('fonts/ptsansnarrowbold.woff2') format('woff2');
}

body {
  font-family: 'PT Sans Narrow';
}
