@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: normal;
  src: local ('PT Sans Narrow'),
    url('fonts/ptsansnarrow.woff') format('woff'),
    url('fonts/ptsansnarrow.woff2') format('woff2');
  
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  src: local ('PT Sans Narrow'),
    url('fonts/ptsansnarrowbold.woff') format('woff'),
    url('fonts/ptsansnarrowbold.woff2') format('woff2');
}

body {
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;
}
